@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NaDeneme</title>
</head>
<body>
<div>
    <h1>Hayırlı işler</h1>
    <h2>@ViewBag.Name</h2>
    <h2>@ViewBag.Surname</h2>
</div>
</body>
</html>
